* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    margin-top: 15rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1 {
    font-size: 6.4rem;
    font-weight: 700;
    color: var(--primary-color);
  }
  
  .secondary-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary-color);
  }
  
  .tertiary-title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: var(--secondary-color);
  }
  
  p,
  .p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.5rem;
  }
  
  p:not(:last-of-type),
  .p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  
  .btn {
    background-color: none;
    border: none;
    outline: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
  }
  
  .btn.btn-primary {
    background-color: var(--dark-secondary-color);
    color: var(--white);
    font-weight: 400;
    font-size: 1.4rem;
  }
  
  .max-width {
    width: 100%;
    max-width: 120rem;
    padding: 0 4rem;
    margin: 0 auto;
    margin-bottom: 26rem;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mb-s {
    margin-bottom: 1rem;
  }
  
  .mb-m {
    margin-bottom: 2rem;
  }
  
  .mb-l {
    margin-bottom: 4rem;
  }
  
  .mb-xl {
    margin-bottom: 6rem;
  }

/* Projetos*/

.projeto-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  background-color: #fff;
  margin-top: 100px;
}

.projeto-card:hover {
  transform: scale(1.03);
}

.projeto-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.projeto-conteudo {
  padding: 16px;
  text-align: center;
}

.projeto-conteudo h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #333;
}

.projeto-conteudo p {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.btn-saiba-mais {
  text-decoration: none;
  background-color: #007BFF;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-saiba-mais:hover {
  background-color: #0056b3;
}
  
  
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 60%;
    }
  
    h1 {
      font-size: 6rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    html {
      font-size: 58%;
    }
  
    .max-width {
      padding: 0 2rem;
    }
  }
  
  @media only screen and (max-width: 425px) {
    h1 {
      font-size: 4.2rem;
    }
  }